<div class="card">
    <span>
       <h2>Computadores</h2>
        <h5>Por está página você poderá editar os computadores</h5> 
    </span>
</div>

<div class="card">
    <span>
       <h2>Cadastrar Computador</h2>
        <h5>Crie e cadastre um computador</h5> 
    </span>
    <span>
        <button class="btn" (click)="navegaCreate()">Cadastrar computador</button>
    </span>
</div>

<div class="card">
    <span>
       <h2>Mostrar Computadores</h2>
        <h5>Mostra todos os computadores cadastrados com a opção de edita-los</h5> 
    </span>
    <span>
        <button class="btn" (click)="navegaMostrar()">Mostrar Computadores</button>
    </span>
</div>

<div class="card">
    <span>
       <h2>Pesquisar um Computador</h2>
        <h5>Mostra um computador cadastradoscom a opção de edita-lo</h5> 
    </span>
    <span>
        <button class="btn" (click)="navegaMostrarUm()">Pesquisar um Computadores</button>
    </span>
</div>