<div class="card">
    <span>
       <h2>Computadores</h2>
        <p>Por está página você poderá editar os computadores</p> 
    </span>
</div>

<div class="card">
    <span>
       <h2>Cadastrar Computador</h2>
        <p>Crie e cadastre um computador</p> 
    </span>
    <span>
        <button class="btn" (click)="navegaCreate()">Cadastrar computador</button>
    </span>
</div>

<div class="card">
    <span>
       <h2>Mostrar Computadores</h2>
        <p>Mostra todos os computadores cadastrados com a opção de edita-los</p> 
    </span>
    <span>
        <button class="btn" (click)="navegaMostrar()">Mostrar Computadores</button>
    </span>
</div>

<div class="card">
    <span>
       <h2>Pesquisar um Computador</h2>
        <p>Mostra um ou mais computadores cadastrados através de filtro com a opção de edita-los</p> 
    </span>
    <span>
        <button class="btn" (click)="navegaMostrarUm()">Pesquisar um Computadores</button>
    </span>
</div>