<div id="boxArea">
    <div id="box">
        <div>
            <span>Estágio</span>
            <span></span>
            <span>Angular</span>
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>
</div>


<div class="card">
    <h2>Bem vindo!</h2>
    <p>Este é um projeto para teste de estágio. <strong>Link para o GitHub </strong> <a href="https://github.com/Davidson-Moura/EstagioWeb">Aqui</a>. <strong>Link para o baixar o zip </strong> <a href="https://drive.google.com/drive/folders/1ltUTwi588DDjlLwpXiNdP71lVWf3AEOy?usp=sharing">Aqui</a></p>
</div>

<div class="card">
    <h2>Informações do Projeto</h2>
    <p>Projeto criado com angular version 13.0.2</p>
    <br>

    <h2>informações sobre execuções do projeto</h2>
    <ul>
        <li>Para melhor compreenção e facilidade baixe o arquivo zipado do projeto, caso não seja possível siga os passos abaixo.</li>
        <li>A página no github não possui as pastas node_modules e .angular, parar executar o projeto é preciso iniciar estás pasta.</li>
        <li>Use o comando "ng new app" para criar um projeto padrão com scss e cole os arquivos do github dentro desta pasta.</li>
        <li>Também há necessidade da dependência do material, use o comando 'ng add @angular/material' dentro da pasta raiz do projeto.</li>
    </ul>
    <br>

    <h2>Informações do banco de dados pelo servidor json</h2>
    <ul>
        <li>Está aplicação usa o arquivo db.json como exemplo de backend, sendo assim a necessidade de instalar a dependência "npm install -g json-server" dentro da pasta Backend.</li>
        <li> Parar usar como banco de dados use o comando "npm start" dentro da pasta Backend.</li>
    </ul>

</div>